.section_time {
  z-index: 996;
}

.block_time {
  margin-top: 100px;
  padding: 2rem 3rem;
  border-radius: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(172, 45%, 75%, 1);
}

.block_time p {
  font-size: 2rem;
  color: #172920;
}

.block_time p span {
  font-size: 2.5rem;
  color: #000000;
}

@media ( max-width: 1050px) {
  .block_time {
    padding: 1.5rem 2.25rem;
  }

  .block_time p {
    font-size: 1.5rem;
  }

  .block_time p span {
    font-size: 1.75rem;
  }
}

@media (max-width: 768px) {
  .block_time {
    padding: 1.2rem 1.7rem;
  }

  .block_time p {
    font-size: 1.3rem;
  }

  .block_time p span {
    font-size: 1.55rem;
  }
}